/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBEA;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	color: #C7D1CD;
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	font-size: 47px;
	border-bottom: 1px solid #ccc;
} 

h1:hover {
	color: rgb(111,127,122);
}

#about img {
	border: 5px solid #9EADA8;
}

section {
	color: #9EADA8;
}

#link:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid
  }
  
  footer {
	text-align: right;
	font-size: 0.8em;
  }
/* Write all remaining styles here */